Pillow
biopython
fastapi
langchain
langchain-community
langchain-huggingface
langchain-pinecone
langchain-text-splitters
neo4j
pubchempy
pytesseract
pytest
python-dotenv
sentence-transformers
slowapi
torch
transformers
uvicorn

# Newly added:
python-docx
pandas
openpyxl        # Needed for reading .xlsx with pandas
PyMuPDF         # For reading PDFs
chromadb